.publish-modal-title .setting-item-name {
	color: purple;
	font-weight: bold;
	font-size: 22px;
}
.publish-modal-title .setting-item-description {
	font-size: 12px;
	font-weight: lighter;
}
.publish-text-input {
	width: 100%;
	margin-bottom: 5px;
}
.publish-title-container {
	margin-bottom: 10px;
	width: 100%;
	font-size: small;
	color:#9f9e9e
}
.publish-control-container {
	margin-top: 20px;
	width: 100%;
}
.input-label {
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 2px;
	width: 100%;
	border: none;
	outline: none;
	padding: 5px;
	background-color: transparent;
}
.text-box{
	width: 100%;
	margin-bottom: 5px;
}
.multiline-text-box{
	width: 100%;
	margin-bottom: 5px;
	height: 100px;
}
.input-label-small{
	font-weight: bold;
	font-size: 8px;
	margin-bottom: 2px;
	width: 100%;
	border: none;
	outline: none;
	padding: 5px;
	background-color: transparent;
	color: orange;
}
.publish-modal-info {
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
	font-size: small;
}

/* Style for the badge container */
.badge-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2px;
}

.badge {
	background-color: purple;
	width: min-content;
	font-size: small;
	color: #fff;
	border-radius: 16px;
	padding: 4px 12px;
	margin: 4px;
	display: flex;
	align-items: center;
}
.badge-box {
	width: 100%;
	margin-bottom: 10px;
}
.remove {
	background-color: transparent;
	color: black;
	border: none;
	cursor: pointer;
	margin-left: 4px;
	font-weight: bold;
	font-size: 14px;
	line-height: 1;
	outline: none;
}

.remove:hover {
	color: #ff0000;
}

.clear-image-button {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 14px;
	color: red;
	margin-top: 10px;
}

.image-preview {
	max-width: 100%;
}
